@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.container1{
    height: 80vh;
    width: 100%;
    display: flex;
}

.imagem-left{
 margin-top: 8vh;
 margin-left: 1vw;
   
}